* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h2 {
  font-family: sans-serif;
  padding-top: 10px;
}
.nightmode {
  display: flex;
  flex-direction: column;

  height: 100vh;
  margin: 2%;
}
body {
  background-color: whitesmoke;
  transition: 0.5s background ease;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 80px;
  height: 30px;

  border-radius: 50px;
  padding: 5px;
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.bar {
  background-color: white;

  position: absolute;

  height: 23px;
  width: 23px;
  border-radius: 50%;

  transition: transform 0.3s linear;
}
.fa-sun,
.fa-moon {
  color: rgb(251, 227, 89);
}
/* color alternative for dark mode when checked*/
body.dark {
  background-color: rgb(34, 34, 34);
  color: palevioletred;
  transition: 0.5s background ease;
}

.checkbox:checked ~ .label .bar {
  transform: translateX(48px);
  background-color: rgb(56, 56, 56);
}

.checkbox:checked ~ .label {
  background-color: palevioletred;
  transition: 0.3s all ease;
}
